:root {
    --color-primary: #FFF689;
    --color-secondary: #5998C5;
    --color-tertiary: #CFFFB0;
    --color-tertiary-alt: #A9E681;
    --color-button: #F58F29;
    --color-button-alt: #DA740F;
    --color-text: #333333;
    --color-gray: #666666;
    --color-white: #FFFFFF;
    --color-shadow: rgba(0, 0, 0, 0.3);
}

/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    font-family: "Alegreya", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/* Main */
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 20px;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: 2px solid var(--color-gray);
    border-radius: 0 70px 70px 0;
}

/* Header */
.main-section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65%;
    gap: 30px;
}

.main-section__title {
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 10px;
}

/* Input */
input {
    font-family: "Alegreya", serif;
}

.main-section__input-section {
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-section__input-name {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--color-text);
    border-right: 0;
    border-radius: 25px 0 0 25px;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px var(--color-shadow);
}

/* Lists */
.list-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 50px 20px 20px 20px;
}

.list-section__section-title {
    font-size: 1.8rem;
}

ul {
    list-style-type: none;
    color: var(--color-text);
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: center;
}

.list-section__draw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.list-section__chosen-title {
    display: none;
}

.list-section__result-list {
    margin-top: 5px;
    color: var(--color-secondary);
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}

/* Buttons */
button {
    padding: 12px 30px;
    font-family: "Alegreya", serif;
    font-weight: 700;
    font-size: 1.2rem;
    border: 2px solid var(--color-text);
    border-radius: 25px;
    box-shadow: 0 4px 8px var(--color-shadow);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: var(--color-tertiary-alt);
}

.button-draw {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 1.2rem;
}

.button-draw img {
    margin-right: 20px;
}

.button-draw:hover {
    background-color: var(--color-button-alt);
}